# APP
NODE_ENV="development"
PORT=3001

NEXT_PUBLIC_APP_URL=http://localhost:3001
NEXTAUTH_URL=http://localhost:3001

AUTH_TRUST_HOST=true

# AUTHENTICATION (@ NEXT-AUTH)
# Secret can be generated with `openssl rand -base64 32`
# Follow instructions at https://codevoweb.com/nextjs-add-google-and-github-oauth2-using-nextauth-js/ to obtain client ids and secrets
AUTH_SECRET=__set_locally__
GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxx

# DATABASE (MYSQL)
# Formát: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="mysql://user:pass@host:3306/lepsi_dev_pers"

# EMAIL(@RESEND)/EOS/CRON/FORM
RESEND_API_KEY=re_xxx
EMAIL_FROM="KITT6 HR <no-reply@firma.cz>"
RESEND_EMAIL_FROM=test@onboarding.resend.dev
RESEND_EMAIL_TO=your-mail@example.com
RESEND_USERNAME=resend
RESEND_EMAIL_FROM_HR=hr@example.com
RESEND_EMAIL_FROM_IT=it@example.com
REPORT_RECIPIENTS_PLANNED=hr1@firma.cz,hr2@firma.cz
REPORT_RECIPIENTS_ACTUAL=it1@firma.cz,it2@firma.cz

EOS_API_BASE="https://xxx"

CRON_SECRET="tajny_klic_pro_spousteni_cronu"

CANDIDATE_FORM_URL="https://tvoje-domena.cz/formular"